## ANA-522 
## Mod01 Lab: Python Part II
## Due: Sunday at midnight

### Submit your work as a *.ipynb* notebook file on blackboard.
### Please name your *.ipynb* file using the following format: firstname_week2_assignment3.ipynb

## Tuple Exercise

A tuple is one of the four inbuilt data types used to store collections in Python. Unlike other data types, the elements in tuples are ordered and immutable.

In [ ]:
# Given a tuple:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [6]:
Tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
RevTuple = reversed(Tuple)
RevTuple = tuple(RevTuple)
print (RevTuple)

(100, 90, 80, 70, 60, 50, 40, 30, 20, 10)

In [7]:
# Q2, print second last element
Tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

Tuple[-2]

90

In [15]:
# Q3, iterating this tuple
Tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

## Positive Indexing 
print("Iteration with Positive Indexing >>")
for i in range(0, 10):
    print(Tuple[i], end=", ")   
    
## Negative Indexing 
print ('\n')
print("Iteration with Negative Indexing >>")
for i in range(-10, 0):
    print(Tuple[i], end=", ")

Iteration with Positive Indexing >>
10, 20, 30, 40, 50, 60, 70, 80, 90, 100,

Iteration with Negative Indexing >>
10, 20, 30, 40, 50, 60, 70, 80, 90, 100,

In [16]:
# Q4, get the Length of this tuple
Tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
len(Tuple)

10

In [18]:
# Q5, print elements from index 1 to index 5 
Tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
Tuple[1:6:1]

(20, 30, 40, 50, 60)

In [19]:
# Q6, print elements from start to end using step size 2
Tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
Tuple[0:9:2]

(10, 30, 50, 70, 90)

## Set Exercise

### Question: Find all the fruits which are duplicates or occurs more than once

In [4]:
A = "Apple, Banana, Cherry, Apple, Apple, Grape, Cherry, Pear, Mango, Kiwi, Kiwi"

In [28]:
Tuple = ["Apple", "Banana", "Cherry", "Apple", "Apple", "Grape", "Cherry", "Pear", "Mango", "Kiwi", "Kiwi"]

Dup = list(set([ ele for ele in Tuple 
               if Tuple.count(ele) > 1 ]))

print("Duplicates for the given tuple are : ", str(Dup))

Duplicates for the given tuple are :  ['Cherry', 'Apple', 'Kiwi']

## List Exercise
Lists help programmers manage larger amounts of data by allowing several (or even
many) values to be stored in one variable. This makes it practical to solve larger
problems that involve many data values. You are expected to:   

+ Create a variable that holds a list of values
+ Modify a list by appending, inserting, updating and deleting elements
+ Search a list for a value
+ Display some or all of the values in a list

In [50]:
# Creating and printing a list
Music = ['Radiohead', 'Glass Animals', 'Portishead', 'Kendrick Lamar']

for i in range(0,len(Music)):
    print(Music[i])

Radiohead
Glass Animals
Portishead
Kendrick Lamar

In [43]:
# Appending an element
Music.append("Beach House")
for i in range(0,len(Music)):
    print(Music[i])

Radiohead
Glass Animals
Portishead
Kendrick Lamar
Beach House

In [44]:
# Inserting an element
Music.insert(3, "The Beatles")
for i in range(0,len(Music)):
    print(Music[i])

Radiohead
Glass Animals
Portishead
The Beatles
Kendrick Lamar
Beach House

In [45]:
# Updating an element
Music[3] = "Blonde Redhead"
for i in range(0,len(Music)):
    print(Music[i])

Radiohead
Glass Animals
Portishead
Blonde Redhead
Kendrick Lamar
Beach House

In [47]:
# Deleting an element
Music.remove("Kendrick Lamar")
for i in range(0,len(Music)):
    print(Music[i])

Radiohead
Glass Animals
Portishead
Blonde Redhead
Beach House

## Dictionary Exercise

Dictionary is another data structure that can be used in Python programs to manage large amount of data. While many problems can be solved with lists or conditional statements, in some occasions solutions are well suited using dictionaries. You are expected to: 

+ Create a new variable that holds a dictionary
+ Add a key-value pair to a dictionary
+ Update the value associated with a key in a dictionary
+ Iterate over all of the keys and/or values in a dictionary

In [49]:
#Creating a variable that hold a dictionary
Music = {}
type(Music)

dict

In [53]:
#Adding a key-value pair to the dictionary
Music = { 'Radiohead' :1, 
                'Portishead' : 2,
                'Glass Animals' : 3 }
Music

{'Radiohead': 1, 'Portishead': 2, 'Glass Animals': 3}

In [54]:
#Updating the value associated with a key in a dictionary
Music['Glass Animals'] = 4

Music

{'Radiohead': 1, 'Portishead': 2, 'Glass Animals': 4}

In [55]:
#Iterating over all of the keys and/or values in a dictionary
print('key', ':', 'value')
for key in Music:
    print(key, ':', Music[key])

key : value
Radiohead : 1
Portishead : 2
Glass Animals : 4

## Exercise 1: Below and Above Average

Write a program that read a number N from the user. Let the program generate N random values. Afterwards, your program should display the average of all of the random values generated. Then the program should display all of the above average values, followed by all of the average values (if any), followed by all of the below average values. An output of a running example:  
<pre>
Please input the total number of random values:25

There are 13 numbers above the average of 51.24 :
[62, 62, 63, 94, 95, 70, 65, 74, 83, 93, 97, 56, 56]

There are 0 numbers equal to the average of 51.24 :
[]

There are 12 numbers below the average of 51.24 :
[40, 1, 16, 12, 39, 32, 17, 50, 0, 5, 49, 50]
</pre>

> To generate random numbers use module random, then invoke one of the methods in the following :  
  import random  
  random.random()  &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        # Random float:  0.0 <= x < 1.0  
  random.randrange(10)    &nbsp;&nbsp; # Integer from 0 to 9 inclusive   
  random.randint(1,10)    &nbsp;&nbsp;&nbsp;&nbsp; # Integer from 1 to 10 inclusive  
  See methods available in Python random module at https://www.w3schools.com/python/module_random.asp

In [104]:
x = int(input("Enter a value: "))

import random
RandList = []
AbvList = []
BlwList = []
EqList = []

for i in range(0,x):
    y = random.randint(1,100)
    RandList.append(y)

print(RandList)

Total = sum(RandList)
Avg = Total/x

print("Average : ", Avg)
print('\n')

for i in range(len(RandList)):
    if (RandList[i] > Avg):
           AbvList.append(RandList[i])
    elif (RandList[i] < Avg):
            BlwList.append(RandList[i])
    else:
        EqList.append(RandList[i])

print("There are {} values above the average of {}" .format((len(AbvList)), Avg))
print(AbvList)
print ('\n')
print("There are {} values equal to the average of {}" .format((len(EqList)), Avg))
print(EqList)
print ('\n')
print("There are {} values below the average of {}" .format((len(BlwList)), Avg))
print(BlwList)

Enter a value: 8
[22, 46, 97, 98, 43, 22, 99, 50]
Average :  59.625


There are 3 values above the average of 59.625
[97, 98, 99]


There are 0 values equal to the average of 59.625
[]


There are 5 values below the average of 59.625
[22, 46, 43, 22, 50]

## Exercise 2: Random Lottery Numbers

In order to win the top prize in a particular lottery, one must match all 6 numbers
on his or her ticket to the 6 numbers between 1 and 49 that are drawn by the lottery
organizer. Write a program that generates a random selection of 6 numbers for a lottery ticket. Ensure that the 6 numbers selected do not contain any duplicates.
Display the numbers in ascending order.

> To generate random numbers use module random, then invoke one of the methods in the following :  
  import random  
  random.random()  &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        # Random float:  0.0 <= x < 1.0  
  random.randrange(10)    &nbsp;&nbsp; # Integer from 0 to 9 inclusive   
  random.randint(1,10)    &nbsp;&nbsp;&nbsp;&nbsp; # Integer from 1 to 10 inclusive  
  See methods available in Python random module at https://www.w3schools.com/python/module_random.asp

In [112]:
from random import randrange

MinNum = 1
MaxNum = 49
NumCount = 6
TicNum = []

for i in range(NumCount):
    Combo = randrange(MinNum, MaxNum +1)
    while Combo in TicNum:
        Combo = randrange(MinNum, MaxNum +1)
    
    TicNum.append(Combo)

print("Lottery Ticket Numbers : ", end=" ")
for n in TicNum:
    print (n, end=" ")
print()

Lottery Ticket Numbers :  35 9 39 42 23 43

<br>

## <font color=RED>Questions below are optional and are for extra credit: If interested, feel free to go ahead and solve them and if the answers are correct you will get the extra credit of 20% of this assisgnment; otherwise, you won't lose any credit. </font>

### Function with List Exercise



## Optional Exercise 3 : Remove Outliers

When analysing data collected as part of a science experiment it may be desirable to remove the most extreme values before performing other calculations.  

Write a function that takes a list of values and a non-negative integer, N, as its parameters. The function should create a new copy of the list with both the n largest elements and the n smallest elements removed. Then it should return the new copy of the list as the sole function’s result as return. The order of the elements in the returned list does not have to match the order of the elements in the original list.

To demonstrate the function you created in the program, call the function with a list of randomly generated numbers, that the function would remove the two largest and two smallest values from it, and return an updated new copy. Display the new copy of the list with the outliers removed, followed by the original list. Your program should generate an appropriate error message if the user enters less than 4 values in the case of N is 2. See the examples:  
<pre>
(Scenario 01)
Please input the total number of random values:10
New list: [37, 39, 39, 51, 52, 55]
Old list: [39, 52, 98, 55, 51, 39, 37, 12, 36, 56]

(Scenario 02)
Please input the total number of random values:3
Old list: [94, 26, 53]
You do not have enought values (must be more than 3.

(Scenario 03)
Please input the total number of random values:4
New list: []
Old list: [80, 13, 74, 87]
</pre>

## Optional Exercise 4: Is a List already in Sorted Order?

Write a function that determines whether or not a list of values is in sorted order
(either ascending or descending). The function should return True if the list is
already sorted. Otherwise it should return False. Write a main program that reads
a list of numbers from the user and then uses your function to report whether or not
the list is sorted.

>One solution idea to check whether a list of values are in a correct order is to check all pairs of neighboring values on the list to see if all pairs are in correct order. As soon as there is one pair on the list has the incorrect order, then it's time to conclude that the whole list is not in correct order. Otherwise, all numbers on the list are in their correct order. Also make sure you consider these questions when completing this exercise: Is an empty list in sorted order? What about a list contains only one element?   

Some examples:   
<pre>
(Scenario I)
Input the next number:1
Input the next number:2
Input the next number:3
Input the next number:4
Input the next number:5
[1, 2, 3, 4, 5]
This list is sorted.

(Scenario II)
Input the next number:1
Input the next number:2
Input the next number:3
Input the next number:5
Input the next number:4
[1, 2, 3, 5, 4]
This list is NOT sorted.

(Scenario III)
Input the next number:5
Input the next number:4
Input the next number:3
Input the next number:2
Input the next number:1
[5, 4, 3, 2, 1]
This list is sorted.

(Scenario IV)
[]
This list is sorted.

(Scenario V)
Input the next number:9
[9]
This list is sorted.
</pre>

## Optional Exercise 5: Reverse Lookup

Write a function named reverseLookup that finds all of the keys in a dictionary
that map to a specific value. The function will take the dictionary and the value to
search for as its only parameters. It will return a (possibly empty) list of keys from
the dictionary that map to the provided value.   

Include additional statements that demonstrates the reverseLookup function as part
of your solution to this exercise.    

Your program can create a dictionary or use the dictionary included and then
show that the reverseLookup function works correctly when it returns multiple
keys, a single key, and no keys.   

<pre>data = { 'A': 3,
         'B': 7,
         'C': 8,
         'D': 8,
         'E': 7,
         'F': 3,
         'G': 2,
         'H': 3,
         'I': 8,
         'J': 3  
}
</pre>
The output from the given dictionary:   
<pre>
Keys for value 2 ['G']
Keys for value 3 ['A', 'F', 'H', 'J']
Keys for value 5 []
Keys for value 7 ['B', 'E']
Keys for value 8 ['C', 'D', 'I']
</pre>

In [1]:
# Reverse Loopkup

data = { 'A': 3,
         'B': 7,
         'C': 8,
         'D': 8,
         'E': 7,
         'F': 3,
         'G': 2,
         'H': 3,
         'I': 8,
         'J': 3  
}



## Optional Exercise 6 : Two Dice Simulation

In this exercise you will simulate 1,000 rolls of two dice. Begin by writing a func-
tion that simulates rolling a pair of six-sided dice. Your function will not take any
parameters. It will return the total that was rolled on two dice as its only result.
Write the main program that uses your function to simulate rolling two six-sided
dice 1,000 times.   

As your program runs, it should count the number of times that each
total occurs. Then it should display a table that summarizes this data. Express the
frequency for each total as a percentage of the total number of rolls. Your program
should also display the percentage expected by probability theory for each total.
Sample output is shown below.  

<img src="http://mathqs.mcdaniel.edu/ANA522/mod01/img/DiceSimulation.png" width="300" alt="If the image does not show use: http://mathqs.mcdaniel.edu/ANA522/mod01/img/DiceSimulation.png">

## Optional Exercise 7 : Write Out Numbers in English

While the popularity of cheques as a payment method has diminished in recent years,
some companies still issue them to pay employees or vendors. The amount being
paid normally appears on a cheque twice, with one occurrence written using digits,
and the other occurrence written using English words. Repeating the amount in two
different forms makes it much more difficult for an unscrupulous employee or vendor
to modify the amount on the cheque before depositing it.   

In this exercise, your task is to create a function that takes an integer between 0 and
999 as its only parameter, and returns a string containing the English words for that
number. For example, if the parameter to the function is 142 then your function should
return “one hundred forty two”. Use one or more dictionaries to implement
your solution rather than large if/elif/else constructs. Include a main program that
reads an integer from the user and displays its value in English words. See example outputs:  

<pre>
123 :  One Hundred Twenty Three
812 :  Eight Hundreds Twelve
802 :  Eight Hundreds and Two
 14 :   Fourteen
 67 :   Sixty Seven
  9 :   Nine
</pre>